{% extends "_base.html" %}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src={{company.profile_picture}} alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            {{company.name}}</h4>
                        <p>
                            <br />
                            <br />
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Social</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Google +</a></li>
                                <li><a href="#">Facebook</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Github</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
  <a href="{{ url_for('jobs.create_job', company_id = company.id) }}">Post Job</a>
</div>
<div>
  {% for job in company.jobs_posted %}
  <a href="{{ url_for('jobs.jobs_profile',company_id = company.id, jobs_id = job.id)}}">{{job.title}}</a>
  <br>
  {%endfor%}
</div>
{%endblock%}
